<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %m%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console">
            <PatternLayout pattern="${layout}"/>
        </Console>

        <!--<File name="LogFile" fileName="logs/ServerFile.log" append="true">
            <PatternLayout pattern="${layout}"/>
        </File>-->

        <RollingRandomAccessFile name="LogToServerRollingRandomAccessFile" fileName="logs/Server.log"
                                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>

        <Logger name="mrt.cse.msc.dc.cybertronez" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="mrt.cse.msc.dc.cybertronez" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogToServerRollingRandomAccessFile"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogToServerRollingRandomAccessFile"/>
        </Root>

    </Loggers>
</Configuration>